<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/style.css" media="screen" title="no title">
    <title></title>
  </head>
  <body style="background-color:#006400;">
    <% if (money) { %>
    <h1>The equivalent in coins of <%= money.amount %>p is:</h1><br>
    <% if (money.twoPounds > 0) { %>
      <div class="number">
    <h2> <%= money.twoPounds %> X <img src="https://s23.postimg.org/vpfdimokr/image.png" alt="two pounds coin" style="width:30%;height:85%"></h2>
    <% } %>
  </div>
    <% if (money.onePound > 0) { %>
      <div class="number">
    <h2><%= money.onePound %> X <img src="https://s23.postimg.org/xqbtysf3v/1coin.png" alt="one pounds coin" style="width:30%;height:85%"></h2><br>
    <% } %>
  </div>
    <% if (money.fiftyP > 0) { %>
    <h2>50p coins: <%= money.fiftyP %></h2><br>
    <% }  %>

    <% if (money.twentyP > 0) { %>
    <h2>20p coins: <%= money.twentyP %></h2><br>
    <% }  %>

    <% if (money.tenP > 0) { %>
    <h2>10p coins: <%= money.tenP %></h2><br>
    <% }  %>

    <% if (money.fiveP > 0) { %>
    <h2>5p coins: <%= money.fiveP %></h2><br>
    <% }  %>

    <% if (money.twoP > 0) { %>
    <h2>2p coins: <%= money.twoP %></h2><br>
    <% }  %>

    <% if (money.oneP > 0) { %>
    <h2>1p coins: <%= money.oneP %></h2>
    <% }  %>
    <% } %>

      <% if (!money) { %>
    <h1>You haven't entered a valid number</h1>
    <form action="/">
      <input type="submit" value="Try again" />
  </form>
  <% } %>
  </body>
</html>
