<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/style.css" media="screen" title="no title">
    <title></title>
  </head>
  <body>
    <% if (money) { %>
    <h1 style = "color: #6DC8C8; margin-left: 30%; margin-top: 5%">The equivalent in coins of <%= input %> is:</h1>
    <% if (money.twoPounds > 0) { %>
      <div class="number">
    <h5> <%= money.twoPounds %> X <img src="https://s23.postimg.org/vpfdimokr/image.png" alt="two pounds coin" style="width:30%;height:85%"></h5>
      </div>
    <% } %>
    <% if (money.onePound > 0) { %>
      <div class="number">
    <h5><%= money.onePound %> X <img src="https://s23.postimg.org/xqbtysf3v/1coin.png" alt="one pounds coin" style="width:30%;height:85%"></h5><br>
      </div>
    <% } %>
    <% if (money.fiftyP > 0) { %>
      <div class="number">
    <h5><%= money.fiftyP %> X <img src="https://s23.postimg.org/g4fzaudij/50p.png" alt="one pounds coin" style="width:35%;height:90%"></h5><br>
      </div>
    <% }  %>

    <% if (money.twentyP > 0) { %>
      <div class="number">
    <h5><%= money.twentyP %> X <img src="https://s23.postimg.org/63oetfgyj/20p.png" alt="one pounds coin" style="width:33%;height:85%"></h5><br>
     </div>
    <% }  %>

    <% if (money.tenP > 0) { %>
      <div class="number">
    <h5><%= money.tenP %> X <img src="https://s23.postimg.org/4pc334k1n/10p.png" alt="one pounds coin" style="width:30%;height:85%"></h5><br>
    </div>
    <% }  %>

    <% if (money.fiveP > 0) { %>
      <div class="number">
    <h5><%= money.fiveP %> X <img src="https://s27.postimg.org/q2o9gu2cj/image.png" alt="one pounds coin" style="width:30%;height:85%"></h5><br>
    </div>
    <% }  %>

    <% if (money.twoP > 0) { %>
      <div class="number">
    <h5><%= money.twoP %> X <img src="https://s29.postimg.org/fvyc9ze87/image.png" alt="one pounds coin" style="width:30%;height:85%"></h5><br>
    </div>
    <% }  %>

    <% if (money.oneP > 0) { %>
      <div class="number">
    <h5><%= money.oneP %> X <img src="https://s28.postimg.org/4jlxqqklp/image.png" alt="one pounds coin" style="width:40%;height:90%"></h5>
    </div>
    <% }  %>
    <form action="/" style = "display: flex; margin: 0 15%; justify-content: bottom; color: #ff5a60; margin-left: 10%;">
      <button class = "button" type="submit">Back Home</button>
  </form>
    <% } %>

      <% if (!money) { %>
    <h1 style = "color: #6DC8C8; margin-left: 30%; margin-top: 10%">You haven't entered a valid amount</h1>
    <form action="/" style = "display: flex; margin: 0 15%; justify-content: bottom; color: #ff5a60; margin-top: 5%; margin-left: 10%;">
      <button class = "button" type="submit">Try again</button>
  </form>
  <% } %>

  </body>
</html>
